{% layout "default.liquid" %}


{% block main %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Velha21</h1>
            <p class="lead text-muted">Here you can play different games online.</p>
            <p>
                <a href="#games" class="btn btn-primary my-2">Start new game</a>
                <a href="#tables" class="btn btn-secondary my-2">Join open table</a>
            </p>
        </div>
    </section>

    <div class="py-5 bg-light">
        <div class="container">
            <h1> Games </h1>
            <div class="row" id="games">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="res/img/tictactoe.jpg" class="card-img-top" alt="..." height="225" width="100%">
                        <div class="card-body">
                            <p class="card-text">TicTacToe.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary" href="/tictactoe">
                                        <svg class="bi bi-people-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                                        </svg>
                                        Public Table
                                    </a>
                                    <a type="button" class="btn btn-sm btn-outline-secondary" href="/tictactoe?privateTable=true">
                                        <svg class="bi bi-shield-lock-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M5.187 1.025C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 0 1 2.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 0 1-2.418 2.3 6.942 6.942 0 0 1-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 0 1-1.007-.586 11.192 11.192 0 0 1-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 0 1 2.415 1.84a61.11 61.11 0 0 1 2.772-.815zm3.328 6.884a1.5 1.5 0 1 0-1.06-.011.5.5 0 0 0-.044.136l-.333 2a.5.5 0 0 0 .493.582h.835a.5.5 0 0 0 .493-.585l-.347-2a.5.5 0 0 0-.037-.122z"/>
                                        </svg>
                                        Private Table
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="res/img/blackjack.jpg" class="card-img-top" alt="..." height="225" width="100%">
                        <div class="card-body">
                            <p class="card-text">Blackjack.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary" href="/blackjack">
                                        <svg class="bi bi-people-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                                        </svg>
                                        Public Table
                                    </a>
                                    <a type="button" class="btn btn-sm btn-outline-secondary" href="/blackjack?privateTable=true">
                                        <svg class="bi bi-shield-lock-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M5.187 1.025C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 0 1 2.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 0 1-2.418 2.3 6.942 6.942 0 0 1-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 0 1-1.007-.586 11.192 11.192 0 0 1-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 0 1 2.415 1.84a61.11 61.11 0 0 1 2.772-.815zm3.328 6.884a1.5 1.5 0 1 0-1.06-.011.5.5 0 0 0-.044.136l-.333 2a.5.5 0 0 0 .493.582h.835a.5.5 0 0 0 .493-.585l-.347-2a.5.5 0 0 0-.037-.122z"/>
                                        </svg>
                                        Private Table
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 bg-light">
        <div class="container" id="tables">
        </div>
    </div>
{% endblock %}


{% block page_js %}
    <script type="text/template" id="open-table-template">
    {% raw %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="res/img/{{- game -}}.jpg" class="card-img-top" alt="..." width="100%" height="225">
            <div class="card-body">
                <p class="card-text">{{- game -}}:{{- id -}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        {% if playing %}
                        {% else %}
                        <a type="button" class="btn btn-sm btn-outline-secondary" href="{{- game -}}?tableId={{- id -}}">Join</a>
                        {% endif %}
                        <a type="button" class="btn btn-sm btn-outline-secondary" href="{{- game -}}?tableId={{- id -}}&observer=true">Watch</a>
                    </div>
                    <small class="text-muted">{% if playing %} playing {% else %} waiting for players... {% endif %}</small>
                </div>
            </div>
        </div>
    </div>
    {% endraw %}
    </script>

    <script src="js/index.js"></script>
{% endblock %}
