{% layout "default.liquid" %}


{% block main %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Velha21</h1>
            <p class="lead text-muted">Here you can play different games online.</p>
            <p>
                <a href="#games" class="btn btn-primary my-2">Start new game</a>
                <a href="#tables" class="btn btn-secondary my-2">Join open table</a>
            </p>
        </div>
    </section>

    <div class="py-5 bg-light">
        <div class="container">
            <h1> Games </h1>
            <div class="row" id="games">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="res/img/tictactoe.jpg" class="card-img-top" alt="..." height="225" width="100%">
                        <div class="card-body">
                            <p class="card-text">TicTacToe.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary" href="/tictactoe">
                                        New Public Table
                                    </a>
                                    <a type="button" class="btn btn-sm btn-outline-secondary" href="/tictactoe">
                                        New Private Table
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="res/img/blackjack.jpg" class="card-img-top" alt="..." height="225" width="100%">
                        <div class="card-body">
                            <p class="card-text">Blackjack.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary" href="/blackjack">
                                        New Public Table
                                    </a>
                                    <a type="button" class="btn btn-sm btn-outline-secondary" href="/blackjack">
                                        New Private Table
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 bg-light">
        <div class="container" id="tables">
        </div>
    </div>
{% endblock %}


{% block page_js %}
    <script type="text/template" id="open-table-template">
    {% raw %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="res/img/{{- game -}}.jpg" class="card-img-top" alt="..." width="100%" height="225">
            <div class="card-body">
                <p class="card-text">{{- game -}}:{{- id -}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        {% if playing %}
                        {% else %}
                        <a type="button" class="btn btn-sm btn-outline-secondary" href="{{- game -}}?tableId={{- id -}}">Join</a>
                        {% endif %}
                        <a type="button" class="btn btn-sm btn-outline-secondary" href="{{- game -}}?tableId={{- id -}}&observer=true">Watch</a>
                    </div>
                    <small class="text-muted">{% if playing %} playing {% else %} waiting for players... {% endif %}</small>
                </div>
            </div>
        </div>
    </div>
    {% endraw %}
    </script>

    <script src="js/index.js"></script>
{% endblock %}
